@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600&display=swap");

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    color: white;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* navbar */
nav{
    color: white;
}
.navbar-brand{
    font-style: italic;
}
.navbar .nav-item .nav-link{
    position: relative;
}
.navbar .nav-item .nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: white;
    transition: all 0.1s ease;
    transform: scale(0);
}
.navbar .nav-item .nav-link.active::after,
.navbar .nav-item .nav-link:hover::after{
    transform: scale(1);
}
.navbar {
  transition: background-color 0.3s ease;
}
.navbar.scrolled {
  background-color: black !important;
  color: white;
}
/* navbar end */

/* about */
.text-index{
    text-align: justify;
    line-height: 40px;
}
/* about end */

/* skills */
.skill-card{
    background-color: rgb(44, 44, 44); 
    padding: 10px;
    display: inline-block;
    width: fit-content;
    border-radius: 10px;
    margin: 5px 1px;
    text-align: center;
    box-shadow: 0 0.2rem 0.2rem rgba(255, 255, 255, 0.3);

}
.card-title{
    font-size: 14px;
    background-color: rgb(44, 44, 44);
}
/* skills end */

/* projects */
.card-project{
    cursor: pointer;
}
h6{
    background-color: rgb(44, 44, 44);
    
}
.card-body{
    color: white;
    background-color: rgb(44, 44, 44);
}
.card-title-project{
    font-size: 14px;
    background-color: rgb(44, 44, 44);
}
.skill-container{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* Hide the default scrollbar in Firefox */
    -ms-overflow-style: none;
    background-color: rgb(44, 44, 44);
}
.skill-card-project{
    background-color: rgb(30, 30, 30); 
    padding: 5px 10px;
    display: inline-block;
    width: fit-content;
    border-radius: 10px;
    margin: 2px 5px 2px 0px;
    text-align: center;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}
.card-title-skill{
    font-size: 12px;
    background-color: rgb(30, 30, 30);
    margin: 0px;
}
/* projects end */

/* modal */
.modal{
    background: transparent;
}
.header-modal{
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(44, 44, 44);
}
.body-modal{
    padding: 20px;
    background-color: rgb(44, 44, 44);
}
.modal-text{
    font-size: 14px;
}
.footer-modal{
    background-color: rgb(44, 44, 44);
}
/* modal end */

/* contact */
.card-contact{
    max-width: 300px;
    width: 100%;
    background-color: rgb(44, 44, 44);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0.2rem 0.2rem rgba(255, 255, 255, 0.3);
}
.link{
    text-decoration: none;
}
i{
    margin: 0px 15px;
}
.text-contact{
    font-size: 14px;
}
/* contact end */

/* footer */
.footer {
    margin-top: auto; /* footer selalu di bawah */
    background-color: #222; /* contoh warna */
    color: white;
}
/* footer end */

/* media screen */
@media (min-width: 768px) {
    .card-img-top{
        height: 120px;
    }
    .text-index{
        padding: 0px 50px;
    }
}
@media (min-width: 992px) {
    .card-img-top{
        height: 180px;
    }
}
/* media screen end */